@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, -apple-system, sans-serif;
}

@layer base {
  body {
    margin: 0;
    @apply antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-neutral-800 rounded-full;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-700;
}

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
  .preserve-3d {
    transform-style: preserve-3d;
  }
  .translate-z-8 {
    transform: translateZ(32px);
  }
  .-translate-z-8 {
    transform: translateZ(-32px);
  }
  .rotate-y-90 {
    transform: rotateY(90deg);
  }
  .-rotate-y-90 {
    transform: rotateY(-90deg);
  }
}